/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~normalize.css/normalize.css';

$text-color: #333;
$background-color: #f9f9f9;

body{
    color: $text-color;
    background-color: $background-color;
}